<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750922946637-vvcqn5tpsclauc0vr6hgtfoe6pirpuje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750922946637-vvcqn5tpsclauc0vr6hgtfoe6pirpuje</string>
	<key>API_KEY</key>
	<string>AIzaSyAoOQaZHRTp3lt37UWZ72IPEYznwnSjPw4</string>
	<key>GCM_SENDER_ID</key>
	<string>750922946637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenTick</string>
	<key>PROJECT_ID</key>
	<string>greentick-d008b</string>
	<key>STORAGE_BUCKET</key>
	<string>greentick-d008b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750922946637:ios:f07dd1438479abbcca6404</string>
</dict>
</plist>